sphinx
recommonmark
ipykernel
nbsphinx
matplotlib
pydot
pydotplus
pydot-ng
graphviz
sphinx-autobuild
sphinx-press-theme
pylint
autopep8
pytest
pytest-cov
pytest-xdist
pytest-sugar
pytest-clarity; python_version >= '3.6'
tox
coveralls
pluggy<1,>=0.12.0
docstr-coverage
# tensorflow
https://github.com/diyor28/tf-docker-m1/releases/download/v1.0.0/tensorflow-2.8.0-cp39-cp39-linux_aarch64.whl
tensorflow-datasets
imgaug
pillow
# pydicom
# pylibjpeg
# pylibjpeg-libjpeg
seaborn
scikit-learn
bpyutils
pydot
pipenv
jedi<0.18
ipython
bumpversion
vulture
safety
pre-commit
twine
jupyter
Flask
